<div class="container-fluid">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Programme de partages</h1>
            <p class="col-md-8 fs-4">Faites-nous deja part du theme que vous aimerez aborder. Au cas contraire, laissez le champ vide.</p>
            {{!-- <div class="d-flex">
                <form action="POST" id="orateur">
                    <input type="text" id="name" placeholder="Nom"/>
                    <input type="text" id="theme" placeholder="Theme (facultatif)"/>
                    <select name="date" id="date">
                        <option value="Choisissez une data">Choisissez une date</option>
                        <option value="12 Fevrier">12 Fevrier</option>
                        <option value="26 Fevrier">26 Fevrier</option>
                    </select>
                    <button class="btn btn-primary btn-lg" type="submit">Ajouter</button>
                </form>
            </div> --}}
        
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md col-sm-12 mb-5">
            <div class="ui segment">
                <h2 class="ui left floated header">Formulaire</h2>
                <div class="ui clearing divider"></div>
                    <form class="ui form" id="ajouter">
                        <div class="field">
                            <input type="text" name="nom" placeholder="Votre nom" maxlength="20">
                        </div>
                        <div class="field">
                            <input type="text" name="theme" placeholder="Votre theme (facultatif)" maxlength="80">
                        </div>
                        <div class="field">
                            <div class="ui fluid selection dropdown" id="dropdown">
                                <input type="hidden" name="date" maxlength="15">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choisissez une date</div>
                                <div class="menu">
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit">Ajouter</button>
                        <div class="ui error message"></div>
                    </form>
            </div>
        </div><br><br>
        <div class="col-lg-7 col-md col-sm mb-5">
            <input type="hidden" id="data" value="{{json_data}}" />

            <div>
                
            </div>

            <table class="table table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th colspan="5">
                            <form action="/download" method="GET">
                            <button class="ui left floated primary button" type="submit" id="downloadBtn"><i class="file excel icon"></i>Telecharger</button>
                            </form>
                            <div class="ui right floated pagination menu" id="pagination">
                                <input type="hidden" id="page_ref" value="1" />

                                <a class=" ui blue button icon item" id="left_nav">
                                    <i class="left chevron icon"></i>
                                        Precedent
                                </a>
                                <a class="icon ui blue button item" id="right_nav"> Suivant
                                <i class="right chevron icon"></i>
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>NO</th>
                        <th>ORATEUR</th>
                        <th>THEME</th>
                        <th>DATE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tfoot class="bg-light">
                    <tr>
                        <th colspan="5">
                            
                        </th>
                    </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

    {{!-- Modal --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editer vos informations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form class="ui form" id="editer">
                        <div class="field">
                            {{!-- DB _id --}}
                            <input type="hidden" value="" class="modal-id" name="id" id="modal_id" />

                            <div class="ui disabled input">
                                <input type="text" class="modal-name" name="nom" placeholder="Votre nom" maxlength="20">
                            </div>
                            
                        </div>
                        <div class="field">
                            {{!-- <input type="text" > --}}
                            <textarea rows="3" maxlength="80" class="modal-theme" name="theme" placeholder="Votre theme (facultatif)"></textarea>
                        </div>
                        <div class="field">
                            <div class="ui disabled input">
                            <input type="text" class="modal-current-date" name="CurrentDate" placeholder="Current date" maxlength="20">
                        </div>
                        </div>
                        <div class="field">
                            <div class="ui fluid selection dropdown" id="modal_dropdown">
                                <input type="hidden" name="date" maxlength="15">
                                <i class="dropdown icon"></i>
                                <div class="default text">Confirmer une date</div>
                                <div class="menu">
                                    
                                </div>
                            </div>
                        </div>
                        <button class="ui primary button" type="submit">Mettre à jour</button>
                        <div class="ui error message"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ferner</button>
                    {{!-- <button type="submit" class="btn btn-primary">Mettre à jour</button> --}}
                </div>
            </div>
        </div>
    </div>

    {{!-- End of modal --}}


</div>


<input type="hidden" value="{{dates}}" id="db_dates" />

<script>

    //DATE DATA 
    const dates_data = ["12 Fevrier", "26 Fevrier", "12 Mars", "26 Mars", "9 Avril", "23 Avril","7 Mai", "21 Mai"]

    //const fictif = ["12 Fevrier", "26 Fevrier", "12 Mars", "18 juin"]


    //GET PICKED DATES SAVED IN DB 
    const db_dates = document.getElementById('db_dates').value

    const db_dates_array = db_dates.split(',')

    //FILTER DATES TO SHOW IN DROPDOWN
    let filtered_dates = [];
    
    dates_data.map(d=>{
        if(!db_dates_array.includes(d))
            filtered_dates.push(d)
    })
    

    //console.log(filtered_dates)

    let items = []

    //Populate dropdown values 
    filtered_dates.forEach(date=>{
        items.push({
            name: date,
            value: date
        })
    })

    //Populate MODAL dropdown values 
    //let modal_items = []
    //dates_data.forEach(date=>{
        //modal_items.push({
            //name: date,
            //value: date
        //})
    //})

    //SEMANTIC DROPDOWN INIT
    $('#dropdown')
    .dropdown({
        values: items,
        placeholder: "Choisissez une date"
    })
    ;
    $('#modal_dropdown')
    .dropdown({
        values: items,
        placeholder: "Modifiez la date"
    })
    ;    

    //IF LIST OF DATES / DROPDOWN IS EMPTY 
    $('.ui .dropdown').on('click', ()=>{
        if(items.length == 0)
            alert("Toutes les dates ont été prise!")
    })
    

</script>
