<div class="container-fluid">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-5 fw-bold">Programme de partages</h1>
            <p class="col-md-8 fs-4">Faites-nous deja part du theme que vous aimerez aborder. Au cas contraire, laissez le champ vide.</p>
            {{!-- <div class="d-flex">
                <form action="POST" id="orateur">
                    <input type="text" id="name" placeholder="Nom"/>
                    <input type="text" id="theme" placeholder="Theme (facultatif)"/>
                    <select name="date" id="date">
                        <option value="Choisissez une data">Choisissez une date</option>
                        <option value="12 Fevrier">12 Fevrier</option>
                        <option value="26 Fevrier">26 Fevrier</option>
                    </select>
                    <button class="btn btn-primary btn-lg" type="submit">Ajouter</button>
                </form>
            </div> --}}
        
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 col-md col-sm-12 mb-5">
            <div class="ui segment">
                <h2 class="ui left floated header">Formulaire</h2>
                <div class="ui clearing divider"></div>
                    <form class="ui form" id="ajouter">
                        <div class="field">
                            <input type="text" name="nom" placeholder="Votre nom">
                        </div>
                        <div class="field">
                            <input type="text" name="theme" placeholder="Votre theme (facultatif)">
                        </div>
                        <div class="field">
                            <div class="ui fluid selection dropdown" id="dropdown">
                                <input type="hidden" name="date">
                                <i class="dropdown icon"></i>
                                <div class="default text">Choisissez une date</div>
                                <div class="menu">
                                </div>
                            </div>
                        </div>
                        <button class="ui button" type="submit">Ajouter</button>
                        <div class="ui error message"></div>
                    </form>
            </div>
        </div>
        <div class="col-lg-7 col-md col-sm mb-5">
            <table class="table table-bordered">
                <thead class="bg-light">
                    <tr>
                        <th>NO</th>
                        <th>ORATEUR</th>
                        <th>THEME</th>
                        <th>DATE</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tfoot class="bg-light">
                    <tr><th colspan="5">
                        <div class="ui right floated pagination menu">
                            <input type="hidden" id="rightVal" value="1" />
                            <input type="hidden" id="leftVal" value="1" />

                            <a class="icon item" id="left_nav">
                            <i class="left chevron icon"></i>
                            </a>
                            <a class="icon item" id="right_nav">
                            <i class="right chevron icon"></i>
                            </a>
                        </div>
                        </th>
                    </tr>
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

    {{!-- Modal --}}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Editer vos informations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form class="ui form" id="ajouter">
                        <div class="field">
                            <input type="text" class="modal-name" name="nom" placeholder="Votre nom">
                        </div>
                        <div class="field">
                            {{!-- <input type="text" > --}}
                            <textarea rows="3" class="modal-theme" name="theme" placeholder="Votre theme (facultatif)"></textarea>
                        </div>
                        <div class="field">
                            <div class="ui fluid selection dropdown" id="modal_dropdown">
                                <input type="hidden" name="modal_date">
                                <i class="dropdown icon"></i>
                                <div class="default text">Confirmer une date</div>
                                <div class="menu">
                                    {{!-- <div class="item modal-item" data-value="12 Février">12 Fevrier</div>
                                    <div class="item modal-item" data-value="26 Février">26 Fevrier</div>
                                    <div class="item modal-item" data-value="12 Mars">12 Mars</div>
                                    <div class="item modal-item" data-value="9 Avril">9 Avril</div>
                                    <div class="item modal-item" data-value="23 Avril">23 Avril</div>
                                    <div class="item modal-item" data-value="7 Mai">7 Mai</div>
                                    <div class="item modal-item" data-value="4 juin">4 juin</div>
                                    <div class="item modal-item" data-value="18 juin">18 juin</div> --}}
                                </div>
                            </div>
                        </div>
                        <button class="ui primary button" type="submit">Mettre à jour</button>
                        <div class="ui error message"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ferner</button>
                    {{!-- <button type="submit" class="btn btn-primary">Mettre à jour</button> --}}
                </div>
            </div>
        </div>
    </div>

    {{!-- End of modal --}}


</div>

